Package: com.3bang.cambright
Name: CamBright
Depends: mobilesubstrate
Version: 1.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Jack Willis And Sirex
Author: Jack Willis And Sirex
Section: Tweaks
